*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    margin-bottom: 0.8rem;
}

#campo{
    background-color: aqua;
    height: 80vh;
    text-align: center;
    vertical-align: middle;
}

#griglia{
    width: 50%;
    height: 80%;
    border: 1px solid red;
}